{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",    // polyfill
        "corejs": 3
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "dynamic-import-webpack",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "react-hot-loader/babel",
  ]
}
